/* GLOBAL STYLE*/
body {
    font-family: 'Montserrat', serif;
}

a {
    text-decoration: none;
    color: gray;
}

h1 {
    color: white;
}

hr {
    display: none;
}

/* MAIN */
.app {
    max-height: 100vh;
}

.app main {
    height: calc(100vh - 80px);
}

/* LEFT SIDEBAR */
.sidebar {
    background-color: rgba(0,0,0,255);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.sidebar a {
    display: none;
}

.sidebar ul {
    list-style: none;
    color: gray;
    padding: 12px;
}

.sidebar li {
    margin: 15px 0;
    font-size: 8px;
}

.sidebar ul li:hover {
    color: white;
}

.sidebar ul li a:hover {
    color: white;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}

.nav-item {
    display: flex;
    align-items: center;
}


.nav-item img {
    max-height: 24px;
}

#spotify-logo {
    display: none;
    margin-bottom: 30px;
}

#spotify-logo-small {
    margin-bottom: 30px;
}

.playlist-sidebar {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    min-height: 200px;
}

.new-playlist, .download-link, .user {
    display: flex;
    align-items: center;
}

.new-playlist {
    justify-content: flex-start;
    display: none;
}

.new-playlist i {
    font-size: 30px;
}

#playlist-creation {
    margin-left: 5px;
}

.sidebar-bottom-section {
    height: 160px;
    display: flex;
    align-items: flex-end;
}

.download-link {
    justify-content: center;
}

.user i {
    font-size: 20px;
}

#profile {
    color: white;
    font-size: 15px;
    margin-left: 5px;
    display: none;
}
/* END LEFT SIDEBAR */

/* MAIN CONTENT SECTION (Albums, Podcasts, Daily Mix, Release Radar etc.) */
main .content {
    height: 100%;
    background-color: rgba(20,25,34,255);
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Upgrade bar */
.upgrade-bar {
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    position: fixed;
    z-index: 1002;
}

.upgrade-button {
    position: fixed;
    right: 20px;
    top: 30px;
}

.upgrade-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.upgrade-button a{
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 13px;
    color: white;
}
/* End upgrade bar */


/* Upper navigation bar */
.content nav ul{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    list-style: none;
    flex-wrap: wrap;
    font-size: 15px;
}

.content nav ul li {
    margin-right: 15px;
}

.content nav ul li:last-child {
    margin-right: 0;
}

nav ul li a:hover {
    color: white;
}

.notable-line-container {
    display: flex;
    justify-content: center;
}

.notable {
    background-color: greenyellow;
    width: 50%;
    height: 1px;
    display: block;
}
/* End upper navigation bar */

/* Albums container */
.album-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;    
}

.album-container:last-child{
    margin-bottom: 30px;
}

.row-name {
    margin: 30px 0 15px 15px;
}

.row-subname {
    margin: 0 0 15px 15px
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 15px 0 15px;
    width: calc(100% / 2 - 30px);
}

.album img {
    margin-top: 30px;
    max-width: 100%;
    border-radius: 5px;
}

.img-container {
    position: relative;
}

.album .img-container i {
    display: none;
    font-size: 60px;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hover-container {
    width: 100%;
    height: 100%;
}

.img-container:hover i {
    display: block;
    cursor: pointer;
}

.img-container:hover img {
    opacity: 0.6;
    cursor: pointer;
}

.popular {
    margin-bottom: 30px;
}

.popular img {
    border-radius: 50%;
}

.content h3 {
    color: white;
    margin-top: 15px;
}

.content h6 {
    color: gray;
    margin-top: 5px;
}
/* END MAIN CONTENT SECTION */
/* END MAIN */

/* FOOTER */
.app footer {
    height: 80px;
    background-color: #282828;
    font-size: 15px;
    width: 100%;
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    z-index: 1001;
}

footer i {
    color: gray;
    font-size: 15px;
}

footer i:hover {
    color: white;
    cursor: pointer;
}

.player-album-container, .player-audio-container {
    flex-basis: 230px;
    height: 100%;
}

.player-controller {
    flex-basis: 50%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-album-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
}

.player-album-cover {
    width: 20%;
}

.player-album-cover img {
    width: 100%;
}

.player-album-title {
    width: 50%;
    padding-left: 10px;
}

.player-album-title h2 {
    font-size: 12px;
    color: white;
}

.player-album-title .song-name {
    font-size: 8px;
    line-height: 1.4;
    color: gray;
}

.song-name:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.player-album-icons {
    width: 20%;
}

.player-album-icons i:first-child {
    padding-right: 5px;
}

.player-controller .controller-container, .player-controller .time-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controller i {
    padding: 0 5px;
}

.player-audio-container, .player-audio-command {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.controller-container i {
    color: lightgray;
    padding-bottom: 5px;
}

.time-counter {
    color: lightgray;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.unplayed {
    height: 4px;
    width: 40%;
    background-color: grey;
}

.played {
    width: 20%;
    height: 4px;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dot-container i{
    padding: 0;
}

.dot {
    color: white;
    display: none;
}

.unplayed:hover {
    cursor: pointer;
}

.unplayed:hover .played{
    background-color: greenyellow;
}

.unplayed:hover #time-dot {
    display: block;
}

.player-audio {
    display: flex;
    justify-content: flex-end;
}

.player-audio-item {
    padding-right: 10px;
}

.volume-rocker-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.volume-rocker {
    height: 4px;
    width: 50px;
    background-color: grey;
    margin: 0 10px 0 0;
}

.volume-rocker-used {
    width: 10px;
    height: 4px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    
}

.volume-rocker:hover .volume-rocker-used {
    background-color: greenyellow;
    cursor: pointer;
}

.volume-rocker:hover #volume-dot {
    display: block;
    padding-left: 5px;
}

#big-button {
    font-size: 20px;
}

#big-button:hover {
    transform: scale(1.1);
}
/* END FOOTER */



/* MEDIA QUERIES */
/* FROM XS TO SM */
@media only screen and (min-width: 576px) {

    #spotify-logo-small {
        display: none;
    }

    #spotify-logo {
        display: block;
        max-height: 30px;
    }

    .sidebar a {
        display: block;
    }
    
    hr {
        display: block;
    }

    .download-link {
        justify-content: flex-start;
    }

    .download-link a {
        margin-left: 5px;
    }

    .sidebar ul {
    margin: 0 0 0 15px;
    }

    .new-playlist {
        display: flex;
    }
}

/* FROM SM TO MD */
@media only screen and (min-width: 768px) {

    .sidebar li {
        margin: 15px 0;
        font-size: 14px;
    }

    .user i {
        font-size: 15px;
    }

    #profile {
        display: block;
    }

    .album {
        width: calc(100% / 4 - 30px);
    }

    #spotify-logo {
        display: block;
        height: 30px;
    }
}

/* FROM MD TO LG */
@media only screen and (min-width: 992px) {
    .row {
        flex-wrap: nowrap;
    }

    .album {
        width: calc(100% / 6 - 30px);
    }
}
