body {
    font-family: 'Roboto', sans-serif;
}

.app {
    max-height: 100vh;
}

a {
    text-decoration: none;
    color: gray;
}

h1 {
    color: white;
}
/* MAIN */
.app main {
    height: calc(100vh - 80px);
}

/* LEFT SIDEBAR */
main .sidebar {
    background-color: rgba(0,0,0,255);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#spotify-logo {
    display: none;
}


.sidebar ul {
    list-style: none;
    color: gray;
    margin: 15px 0 0 15px;
}


.sidebar li {
    margin: 15px 0;
    font-size: 10px;
}

.playlist-sidebar {
    flex-grow: 1;
    min-height: 50px;
    padding: 0 10px;
}

.new-playlist, .download-link, .user {
    display: flex;
    align-items: center;
}

.new-playlist i, .user i{
    font-size: 30px;
}

.sidebar a {
    display: none;
}

.sidebar-playlist-ul {
    overflow-y: scroll;
}

.sidebar-user-ul {
    position: absolute;
    bottom: 0;
    
}

.nav-item {
    display: flex;
}

.nav-item img {
    max-height: 24px;
}

/* END LEFT SIDEBAR */














/* CONTENT */
main .content {
    height: 100%;
    background-color: rgba(20,25,34,255);
    overflow-y: scroll;
}




.row-name {
    margin-left: 30px;
}

.content h3 {
    color: white;
}

.content h6 {
    color: gray;
}

.album {
    margin-left: 30px;
}

/* Upgrade bar */
.upgrade-bar {
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
}

.upgrade-button a{
    margin-right: 350px;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 30px;
}

/* End upgrade bar */

/* Content nav */
.content nav ul{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    list-style: none;
    flex-wrap: wrap;
    font-size: 15px;
}

.content nav ul li {
    margin-right: 15px;
}

.content nav ul li:last-child {
    margin-right: 0;
    
}
/* End content nav */


.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 230px;
    text-align: center;
}

.album img {
    max-width: 230px;
    height: auto;
}

.popular img {
    border-radius: 50%;
}


/* END CONTENT */
/* END MAIN */


/* FOOTER */
footer {
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.app footer {
    height: 80px; 
    background-color: #282828;
    font-size: 15px;
}
footer img {
    max-width: 50px;
    height: auto;
}
.col-center {
    flex-grow: 1;
}

.now-playing-album {
    display: flex;
    align-items: center;
    padding: 10px;
}

.now-playing-album-txt {
    margin-left: 30px;
}

.now-playing-album h5 {
    color: white;
}

.now-playing-album h6 {
    color: grey;
}

footer i {
    color: gray;
    margin-left: 30px;
}

.center-bar {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 15px;
}

.command-bar-center ul, .command-bar-right ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.time-bar {
    display: flex;
}

.bar {
    ;
}

.played {
    width: 20%;
    height: 2px;
    background-color: lightgrey;
}

.unplayed {
    height: 4px;
    width: 80%;
    background-color: grey;
    margin-left: 15px;
}

.right-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* END FOOTER */













/* MEDIA QUERIES */

@media only screen and (min-width: 767px) {

    #spotify-logo-small {
      display: none;
    }
    #spotify-logo {
        display: block;
        max-height: 40px;
    }

    .sidebar a {
        display: block;
    }
}
